---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Kids from "@layouts/Kids.astro";
import { getCollection } from 'astro:content';
import { getAllKids } from "@lib/contentParser.astro";

const totalKids = 20;
const kids = await getCollection('kids')
---

<Base>
  <section class="section">
    <div class="container">
      <Kids kids={kids} className="mb-16" />
      <Pagination currentPage={1} totalKids={totalKids} />
    </div>
  </section>
</Base>

---


