---
import config from "@config/config.json";
import Man from "@layouts/Man.astro";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSingleMan } from "@lib/contentParser.astro";
import { markdownify } from "@lib/utils/textConverter";

export async function getStaticPaths() {
  const women = await getSingleMan("women");
  const totalMen = Math.ceil(40 / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalMen; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const women = await getAllMen("men");
const currentMan = slug;
const indexOfLastMan = currentMan * config.settings.pagination;
const indexOfFirstMan = indexOfLastMan - config.settings.pagination;
---

<Base title={"Man"}>
  <section class="section">
    <div class="container text-center">
      <h1 set:text={markdownify("Men")} class="page-heading h2" />
      <Man man={currentMan} />
      <Pagination
        section={"men"}
        currentMan={currentMan}
        totalMen={totalMen}
      />
    </div>
  </section>
</Base>
