---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Models from "@layouts/Models.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { markdownify } from "@lib/utils/textConverter";

const models = await getSinglePage("models");
---

<Base title={"Models"}>
  <section class="section">
    <div class="container text-center">
      <h1 set:text={markdownify("Models")} class="page-heading h2" />
      <Models models={currentModels} />
      <Pagination section={"models"} currentModel={1} totalPages={totalModels} />
    </div>
  </section>
</Base>
