---
import config from "@config/config.json";
import Nonbinary from "@layouts/Nonbinary.astro";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSingleNonbinary} from "@lib/contentParser.astro";
import { markdownify } from "@lib/utils/textConverter";

export async function getStaticPaths() {
  const nonbinaries = await getSingleNonbinary("nonbinaries");
  const totalNonbinaries = Math.ceil(40 / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalNonbinaries; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const nonbinaries = await getAllNonbinaries("nonbinaries");
const currentNonbinary = slug;
const indexOfLastNonbinary = currentNonbinary  * config.settings.pagination;
const indexOfFirstNonbinary  = indexOfLastNonbinary  - config.settings.pagination;
---

<Base title={"Nonbinary"}>
  <section class="section">
    <div class="container text-center">
      <h1 set:text={markdownify("Nonbinary")} class="page-heading h2" />
      <Nonbinary nonbinary={currentcenter} />
      <Pagination
        section={"nonbinary"}
        currentNonbinary={currentNonbinary}
        totalNonbinary={totalNonbinary}
      />
    </div>
  </section>
</Base>
