---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Women from "@layouts/Women.astro";
import { getCollection } from 'astro:content';
import { getAllWomen } from "@lib/contentParser.astro";

const totalWomen = 20;
const women = await getCollection('women')
---

<Base>
  <section class="section">
    <div class="container">
      <Women women={women} className="mb-16" />
      <Pagination currentPage={1} totalWomen={totalWomen} />
    </div>
  </section>
</Base>

---


