---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSingleModel } from "@lib/contentParser.astro";
import { markdownify } from "@lib/utils/textConverter";

const models = await getSingleModel("women");
const totalPages = Math.ceil(100/ config.settings.pagination);
---

<Base title={"Women"}>
  <section class="section">
    <div class="container text-center">
      <h1 set:text={markdownify("Women")} class="page-heading h2" />
      <Women women={currentWomen} />
      <Pagination section={"women"} currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
