---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Men from "@layouts/Men.astro";
import { getCollection } from 'astro:content';
import { getAllMen } from "@lib/contentParser.astro";

const totalMen = 20;
const men = await getCollection('men')
---

<Base>
  <section class="section">
    <div class="container">
      <Men men={men} className="mb-16" />
      <Pagination currentPage={1} totalMen={totalMen} />
    </div>
  </section>
</Base>

---


