---
import config from "@config/config.json";
import Women from "@layouts/Women.astro";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSingleWoman } from "@lib/contentParser.astro";
import { getAllWomen } from "@lib/contentParser.astro";

export async function getStaticPaths() {
  const women = await getSinglePage("women");
  const totalWomen = Math.ceil(1 / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalWomen; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const women = await getSinglePorfolio("women");
const totalPortfolios = Math.ceil(women.length / config.settings.pagination);
const currentPortfolio = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPortfolio = currentPortfolio * config.settings.pagination;
const indexOfFirstPortfolio= indexOfLastPortfolio - config.settings.pagination;
const currentPortfolio = sortedPortfolio.slice(indexOfFirstPortfolio, indexOfLastPortfolio);
---

<Base title={"Women"}>
  <section class="section">
    <div class="container text-center">
      <h1 set:text={markdownify("Women")} class="page-heading h2" />
      <Women women={currentPortfolio} />
      <Pagination
        section={"women"}
        currentPortfolio={currentPortfolio}
        totalPortfolios={totalPortfolios}
      />
    </div>
  </section>
</Base>
