---
import config from "@config/config.json";
import Woman from "@layouts/Woman.astro";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSingleWoman } from "@lib/contentParser.astro";
import { markdownify } from "@lib/utils/textConverter";

export async function getStaticPaths() {
  const women = await getSingleWoman("women");
  const totalWomen = Math.ceil(40 / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalWomen; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const women = await getAllWomen("women");
const currentWoman = slug;
const indexOfLastWoman = currentWoman * config.settings.pagination;
const indexOfFirstWoman = indexOfLastWoman - config.settings.pagination;
---

<Base title={"Woman"}>
  <section class="section">
    <div class="container text-center">
      <h1 set:text={markdownify("Women")} class="page-heading h2" />
      <Woman woman={currentWoman} />
      <Pagination
        section={"women"}
        currentWoman={currentWoman}
        totalWomen={totalWomen}
      />
    </div>
  </section>
</Base>
