---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Posts from "@layouts/Posts.astro";

---

<Base>
  <section class="section pt-0">
    <div class="container justify-center gy-4 text-center">
      <h3 class="page-heading mb-20">Welcome to pure models</h3>
      <div class="row justify-center gy-4 text-center">
        <h1>Work with us</h1>
      </div>
    </div>
  </section>
</Base>

---


