---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";

---

<Base>
  <section class="section">
    <div class="container">
      <h1>Welcome to Pure Model Management</h1>
    </div>
  </section>
</Base>
