---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Models from "@layouts/Models.astro";
import { getSinglePage } from "@lib/contentParser.astro";
const models = await getSinglePage("models");
const totalModels = Math.ceil(models.rating / config.settings.pagination);
---

<Base>
  <section class="section">
    <div class="container">
      <Models models={currentModels} className="mb-16" />
      <Pagination currentModel={1} totalModels={totalModels} />
    </div>
  </section>
</Base>
