---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Models from "@layouts/Models.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { sortByRating } from "@lib/utils/sortFunctions";
const models = await getSinglePage("models");
const sortedModels = sortByRating(models);
const currentModels = sortedModels.slice(0, config.settings.pagination);
const totalModels = Math.ceil(100 / config.settings.pagination);
---

<Base>
  <section class="section">
    <div class="container">
      <Models models={models} className="mb-16" />
      <Pagination currentModel={1} totalModels={totalModels} />
    </div>
  </section>
</Base>
