---
import config from "@config/config.json";
import Models from "@layouts/Models.astro";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSingleModel} from "@lib/contentParser.astro";
import { markdownify } from "@lib/utils/textConverter";

export async function getStaticPaths() {
  const models = await getSingleModel("models");
  const totalModels = Math.ceil(30 / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalModels; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const models = await getSingleModel("models");;
const totalModels = Math.ceil(100 / config.settings.pagination);
const currentModel = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastModel = currentModel * config.settings.pagination;
const indexOfFirstModel = indexOfLastModel - config.settings.pagination;
---

<Base title={"Models"}>
  <section class="section">
    <div class="container text-center">
      <h1 set:text={markdownify("Models")} class="page-heading h2" />
      <Models models={currentModel} />
      <Pagination
        section={"models"}
        currentModel={currentModel}
        totalModels={totalModels}
      />
    </div>
  </section>
</Base>
