---
import config from "@config/config.json";
import Kid from "@layouts/Kid.astro";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import { getSingleKid } from "@lib/contentParser.astro";
import { markdownify } from "@lib/utils/textConverter";

export async function getStaticPaths() {
  const Kids = await getSingleKid("Kids");
  const totalKids = Math.ceil(40 / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalKids; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const Kids = await getAllKids("kids");
const currentKid = slug;
const indexOfLastKid = currentKid * config.settings.pagination;
const indexOfFirstKid = indexOfLastKid - config.settings.pagination;
---

<Base title={"Kid"}>
  <section class="section">
    <div class="container text-center">
      <h1 set:text={markdownify("Kids")} class="page-heading h2" />
      <Kid kid={currentKid} />
      <Pagination
        section={"kids"}
        currentKid={currentKid}
        totalKids={totalKids}
      />
    </div>
  </section>
</Base>
