---
import { Image } from "@astrojs/image/components";
import Social from "@components/Social.astro";
import { markdownify } from "@lib/utils/textConverter";

const { model } = Astro.props;
const { name, image, social } = model.data;
const { Content } = await model.render();
---

<section class="section">
  <div class="container">
    <div class="mb-4 text-center md:px-24">
      {
        image && (
          <div class="mb-8">
            <Image
              src={image}
              class="mx-auto square-lg"
              height={150}
              width={150}
              alt={name}
            />
          </div>
        )
      }
      <h1 set:html={markdownify(name)} class="page-heading h2 mb-8" />

      <Social source={social} className="social-icons-simple" />
      <div class="content">
        <Content />
      </div>
    </div>
  </div>
</section>
