---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@layouts/components/Pagination.astro";
import Posts from "@layouts/Posts.astro";
import { getSingleModel } from "@lib/contentParser.astro";

export async function getStaticPaths() {
  const posts = await getSingleModel("models");
  const totalModels = Math.ceil(40 / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalModels; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { slug } = Astro.params;
const posts = await getSingleModel("models");
const totalModels = Math.ceil(40 / config.settings.pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastPost = currentPage * config.settings.pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.pagination;
const currentModels = sortedModels.slice(indexOfFirstPost, indexOfLastPost);
---

<Base>
  <section class="section">
    <div class="container">
      <Posts className="mb-16" posts={currentModels} />
      <Pagination totalModels={totalModels} currentModel={currentModel} />
    </div>
  </section>
</Base>
